<!DOCTYPE html>
<html>
<title> My first angular page </title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="filterTable.js"></script>
<style>
	table {
    	border-collapse: collapse;
	}

	table, th, td {
	    border: 1px solid black;
	}
</style>
<body>
	<div ng-app="myApp" >
		<h2> Filter Table </h2>
		<div>
			<table ng-controller="myNames">
				<tr>
					<th ng-click="orderByCol('name')"> Name </th>
					<th ng-click="orderByCol('company')"> Company </th>
				</tr>
				<tr ng-repeat="x in names | orderBy: orderByVal"> 
					<td> {{x.name}} </td>
					<td> {{x.company}} </td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
